body {
    margin: 0;
    position: relative;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/piqsels.com-id-olzqm.jpg');
    background-size: cover;
    background-position: center;

    filter: blur(4px); /* степень размытия */
    transform: scale(1.05); /* чтобы не было белых краев */

    z-index: -1;
}