<style>
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.container {
    flex: 1;
}

footer {
    background-color: #343a40;
    color: #fff;
    padding: 1rem 0;
    text-align: center;
    width: 100%;
    margin-top: auto;
}



</style>

<footer class="bg-dark text-light py-3 mt-5">
    <div class="container">
        <div class="row">
        </div>
        <div class="text-center mt-1">
            <small>&copy; 2025 Visions. Все права защищены.</small>
        </div>
    </div>
</footer>

